@page
@using BankSystem.Common;
@using BankSystem.Models;
@using Microsoft.AspNetCore.Identity;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

@inject SignInManager<User> SignInManager
@*
<div class="text-center w-md-75 w-lg-50 mx-auto my-4">
    <h2>@ViewData["Title"]</h2>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <hr />
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.FullName"></label>
            <input asp-for="Input.FullName" class="form-control" />
            <span asp-validation-for="Input.FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group d-flex flex-row justify-content-center">
            <recaptcha />
            <span asp-validation-for="Recaptcha.ReCaptchaResponse" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js"></script>
}
*@













<!doctype html>
<html class="no-js" lang="en">


    <!-- Mirrored from pixner.net/paylio/paylio-v2/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jul 2023 05:15:49 GMT -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Paylio - Money Transfer and Online Payments HTML Template</title>

        <link rel="stylesheet" href="~/bundle/vendor.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="stylesheet" href="~/bundle/main.min.css" asp-append-version="true" />
        <link rel="shortcut icon" href="~/bank/assets/img/fav.png" type="image/x-icon">
        <link rel="stylesheet" href="~/bank/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/bank/assets/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/bank/assets/css/plugin/nice-select.css">
        <link rel="stylesheet" href="~/bank/assets/css/plugin/slick.css">
        <link rel="stylesheet" href="~/bank/assets/css/custom-family.css">
        <link rel="stylesheet" href="~/bank/assets/css/plugin/magnific-popup.css">
        <link rel="stylesheet" href="~/bank/assets/css/plugin/animate.css">
        <link rel="stylesheet" href="~/bank/assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <style>
            span{
            color: red;
            }
        </style>

    </head>

    <body>

        <partial name="_CookieConsentPartial" />


        <!-- start preloader -->
        <div class="preloader" id="preloader"></div>
        <!-- end preloader -->
        <!-- Scroll To Top Start-->
        <a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
        <!-- Scroll To Top End -->
        <!-- Register In start -->
        <section class="log-reg register">
            <div class="overlay">
                <div class="container">
                    <div class="top-head-area">
                        <div class="row d-flex align-items-center">
                            <div class="col-sm-5 col">
                            <a class="back-home" href="/Home/Index">
                                    <img src="~/bank/assets/img/left-icon.png" alt="image">
                                    Back To Paylio
                                </a>
                            </div>
                            <div class="col-sm-5 col">
                                <a href="/Home/Index">
                                    <img src="~/bank/assets/img/logo.png" alt="image">
                                </a>
                            </div>
                        </div>                 
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-5">
                            <div class="img-area">
                                <img src="~/bank/assets/img/register-illus.png" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 z-1 text-center d-flex justify-content-center pb-120">
                            <div class="form-box">
                                <h4>Register with Paylio</h4>


                                <p style="margin-bottom:60px;" class="alr-acc dont-acc">Already have an account? <a href="/account/login">Log in now.</a></p>
                               
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                                        <div>
                                        @{
                                            var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                                        }


                                            <form class="login-with d-flex align-items-center" asp-action="ExternalLogin" asp-controller="External" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                                <input type="submit" class="a a1" value="@providers[0].Name" name="provider">
                                                <input type="submit" class="a a2" value="@providers[1].Name" name="provider">
                                            </form>
                                        </div>
                                        <div class="continue"><p>Or continue with</p></div>
                                        <form style="margin-top:15px" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="single-input d-flex align-items-center">
                                                        <input asp-for="Input.FullName" placeholder="Name" autocomplete="off"/>
                                                    </div>
                                                    <span asp-validation-for="Input.FullName" class="mb-3" style="color:red;"></span>
                                                </div>

                                                <div class="col-12">
                                                    <div class="single-input d-flex align-items-center">
                                                        <input asp-for="Input.Email"  placeholder="Email" autocomplete="off"/>
                                                    </div>
                                                    <span asp-validation-for="Input.Email" class="mb-3" style="color:red;"></span>
                                                </div>
                                           
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="single-input d-flex align-items-center">
                                                        <input asp-for="Input.Password" class="passInput" placeholder="Password"/>
                                                        <img class="showPass" src="~/bank/assets/img/show-hide.png" alt="image">
                                                    </div>
                                                    <span asp-validation-for="Input.Password" class="mb-3" style="color:red;"></span>
                                                </div>
                                                <div class="col-12">
                                                    <div class="single-input d-flex align-items-center">
                                                        <input asp-for="Input.ConfirmPassword" class="passInput1" placeholder="Confirm Password"/>
                                                        <img style="cursor:pointer" class="showPass1" src="~/bank/assets/img/show-hide.png" alt="image">
                                                    </div>
                                                    <span asp-validation-for="Input.ConfirmPassword" class="mb-3" style="color:red;"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex flex-row justify-content-center">
                                                <recaptcha />
                                                <span asp-validation-for="Recaptcha.ReCaptchaResponse" class="text-danger"></span>
                                            </div>
                                       
                                            <div class="btn-area">
                                                <button type="submit" class="cmn-btn">Register</button>
                                            </div>
                                        </form>
                                   
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Register In end -->

        <script src="~/bank/assets/js/jquery.min.js"></script>
        <script src="~/bank/assets/js/proper-min.js"></script>
        <script src="~/bank/assets/js/bootstrap.min.js"></script>
        <script src="~/bank/assets/js/fontawesome.js"></script>
        <script src="~/bank/assets/js/plugin/slick.js"></script>
        <script src="~/bank/assets/js/plugin/jquery.magnific-popup.min.js"></script>
        <script src="~/bank/assets/js/plugin/apexcharts.min.js"></script>
        <script src="~/bank/assets/js/plugin/jquery.nice-select.min.js"></script>
        <script src="~/bank/assets/js/plugin/jquery.countdown.js"></script>
        <script src="~/bank/assets/js/plugin/wow.min.js"></script>
        <script src="~/bank/assets/js/plugin/plugin.js"></script>
        <script src="~/bank/assets/js/main.js"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>

        <script src="~/bundle/vendor.min.js" asp-append-version="true"></script>
        <script src="~/bundle/main.min.js" asp-append-version="true"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            @if (TempData.ContainsKey(GlobalConstants.TempDataSuccessMessageKey))
            {
               <text>
                    toastr.success('@TempData[GlobalConstants.TempDataSuccessMessageKey]');
               </text>
            }
            @if (TempData.ContainsKey(GlobalConstants.TempDataErrorMessageKey))
            {
               <text>
                    toastr.error('@TempData[GlobalConstants.TempDataErrorMessageKey]');
               </text>
                
            }
            @if (TempData.ContainsKey("ErrorMessage2"))
            {
                <text>
                    toastr.error('@TempData["ErrorMessage2"]');
               </text>
            }
        </script>
        
    </body>
</html>





        