@model MoneyTransferListingViewModel
@{
    ViewData["Title"] = "All payments";
    ViewData["Active4"] = "active";

}


    <section class="dashboard-section body-collapse transactions">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="transactions-main" style="padding-bottom:40px">
                            <div class="top-items">
                                <h6>All Transactions</h6>
                            </div>
                           
                            @if (!Model.MoneyTransfers.Any())
                            {
                            <h4 style="margin:30px;margin-bottom:0px;">No money transfers have been made from this account</h4>


                                @section CustomCss{
                                <style>

                                    body {
                                        overflow: hidden;
                                    }
                                </style>
                                }
                            }
                            else
                            {
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th data-priority="2" scope="col">Date</th>
                                                <th data-priority="4" scope="col">Details</th>
                                                <th data-priority="3" scope="col">From</th>
                                                <th data-priority="5" scope="col">To</th>
                                                <th data-priority="1" scope="col">Amount</th>
                                                <th class="none" scope="col">Reference number</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var moneyTransfer in Model.MoneyTransfers)
                                            {
                                                <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                    <td>@moneyTransfer.MadeOn.ToString("O")</td>
                                                    <td class="word-break-all">@moneyTransfer.Description</td>
                                                    <td>@moneyTransfer.Source</td>
                                                    <td>@moneyTransfer.Destination</td>
                                                    <td>
                                                        @if (moneyTransfer.Amount < 0)
                                                        {
                                                            <span class="text-red">@moneyTransfer.Amount EUR</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-green">+@moneyTransfer.Amount EUR</span>
                                                        }
                                                    </td>
                                                    <td>@moneyTransfer.ReferenceNumber</td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>

                                <nav aria-label="Page navigation" class="d-flex justify-content-center mt-40">

                                    @if (Model.MoneyTransfers.Any())
                                    {
                                        <partial name="_PaginationPartial" model="@Model.MoneyTransfers" />
                                    }
                                </nav>

                            }
                           

                        </div>
                    </div>
                </div>
            </div>
       </div>
   </section>

