@using BankSystem.Web.ViewModels;
@model JobPageVM
@{
    Layout = "_Layout1";
}


<section class="banner-section inner-pages open-positions">
    <div class="overlay">
        <div class="banner-content pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>Open Positions</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Open Positions</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bottom-area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-area">
                        <h2 class="text-uppercase">@Model.JobVM.JobName</h2>
                        <p class="xlr">Work Experience : 7 - 10 years </p>
                        <a href="#apply-now" class="cmn-btn">Apply Now</a>
                        <div class="time-area d-flex align-items-center justify-content-center">
                            <span>
                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                @Model.JobVM.JobTime
                            </span>
                            <span class="date">Posted on: May 18, 2021</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 text-start">
                            <div class="bottom-area">
                                <div class="single">
                                    <h3>Job Description</h3>
                                    <p>@Model.JobVM.JobDescription</p>
                                </div>
                                <div class="single">
                                    <h3>Key Functional Areas of Responsibility</h3>
                                    <ul>
                                        @foreach (var item in Model.JobVM.JobRequirementList)
                                        {
                                            <li>
                                                <span><img src="~/bank/assets/img/right-icon-1.png" alt="image"></span>
                                                <span>@item.Name</span>
                                            </li>
                                        }
                                       
                                    </ul>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- Send Resume In start -->
<section class="apply-now" id="apply-now">
    <div class="overlay pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <h2>Apply for Digital Marketing Lead</h2>
                        <form class="form" method="post" asp-action="JobApply" enctype="multipart/form-data">
                            <input type="hidden" asp-for="@Model.ApplicationVM.Id" value="@Model.JobVM.Id">
                            <input type="hidden" asp-for="@Model.JobVM.Id" value="@Model.JobVM.Id">
                            <input type="hidden" asp-for="@Model.JobVM.JobName" value="@Model.JobVM.JobName">
                            <input type="hidden" asp-for="@Model.JobVM.JobDescription" value="@Model.JobVM.JobDescription">
                            <input type="hidden" asp-for="@Model.JobVM.JobTime" value="@Model.JobVM.JobTime">
                            <input type="hidden" asp-for="@Model.JobVM.JobTitle" value="@Model.JobVM.JobTitle">
    @*                        @for (int i = 0; i < Model.JobVM.JobRequirementList.Count; i++)
                            {

                                <input type="hidden" name="@Model.JobVM.JobRequirementList[@i]" value="@Model.JobVM.JobRequirementList[i]" />
                              
                            }*@

                            @for (int i = 0; i < Model.JobVM.JobRequirementList.Count; i++)
                            {
                                <input type="hidden" name="JobVM.JobRequirementList[@i].Name" value="@Model.JobVM.JobRequirementList[i].Name" />
                            }
                            <div class="row top-area">
                                <div class="col-sm-6">
                                    <div class=" single-input d-flex align-items-center">
                                        <div class="input-control">
                                            <input asp-for="@Model.ApplicationVM.Name" class="input-field" placeholder="Name">
                                            <label asp-for="@Model.ApplicationVM.Name" class="input-label"></label>
                                            <span asp-validation-for="@Model.ApplicationVM.Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class=" single-input d-flex align-items-center">
                                        <div class="input-control">
                                            <input asp-for="@Model.ApplicationVM.Phone" class="input-field" placeholder="Phone">
                                            <label asp-for="@Model.ApplicationVM.Phone" class="input-label"></label>
                                            <span asp-validation-for="@Model.ApplicationVM.Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class=" single-input d-flex align-items-center">
                                        <div class="input-control">
                                            <input asp-for="@Model.ApplicationVM.Email" class="input-field" placeholder="Email">
                                            <label asp-for="@Model.ApplicationVM.Email" class="input-label"></label>
                                            <span asp-validation-for="@Model.ApplicationVM.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class=" single-input d-flex align-items-center">
                                        <div class="input-control">
                                            <input asp-for="@Model.ApplicationVM.Linkedin" class="input-field" placeholder="Linkedin">
                                            <label asp-for="@Model.ApplicationVM.Linkedin" class="input-label"></label>
                                            <span asp-validation-for="@Model.ApplicationVM.Linkedin" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="upload-req">
                                <label for="attach"><span class="smr">Attach Resume</span></label>
                                <input asp-for="@Model.ApplicationVM.Cv" id="attach">
                                <span class="smr">You can attach files of size up to 5 MB</span>
                                <span asp-validation-for="@Model.ApplicationVM.Cv" class="text-danger"></span>
                            </div>
                            <button type="submit" class="cmn-btn">Get started</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>