@using ECommerceDemo.Areas.Identity.ViewModels;
@model IdentityVM

<div class="section section-padding">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="user-login-register bg-light">
                    <div class="login-register-title">
                        <h2 class="title">Login</h2>
                        <p class="desc">Great to have you back!</p>
                    </div>
                    <div class="login-register-form">
                        <form asp-action="Login" method="post">
                            <div class="row learts-mb-n50">
                                <div class="col-12 learts-mb-50">
                                    <label asp-for="@Model.LoginVM.UsernameOrEmail">Username or email <abbr class="required">*</abbr></label>
                                    <input asp-for="@Model.LoginVM.UsernameOrEmail" class="form-control p_input">
                                    <span asp-validation-for="@Model.LoginVM.UsernameOrEmail" class="text-danger"></span>
                                </div>
                                <div class="col-12 learts-mb-50">
                                    <label asp-for="@Model.LoginVM.Password">Password</label>
                                    <input asp-for="@Model.LoginVM.Password" class="form-control p_input">
                                    <span asp-validation-for="@Model.LoginVM.Password" class="text-danger"></span>
                                </div>
                                <div class="col-12 text-center learts-mb-50">
                                    <button type="submit" class="btn btn-dark btn-outline-hover-dark">login</button>
                                </div>
                                <div class="col-12 learts-mb-50">
                                    <div class="row learts-mb-n20">
                                        <div class="col-12 learts-mb-20">
                                            <div class="form-check">
                                                <input asp-for="@Model.LoginVM.RememberMe" type="checkbox" class="form-check-input" id="rememberMe">
                                                <label class="form-check-label" for="rememberMe">Remember me</label>
                                            </div>
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        </div>
                                        <div class="col-12 learts-mb-20">
                                            <a href="lost-password.html" class="fw-400">Lost your password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="user-login-register">
                    <div class="login-register-title">
                        <h2 class="title">Register</h2>
                        <p class="desc">If you don’t have an account, register now!</p>
                    </div>
                    <div class="login-register-form">
                        <form asp-action="Register" method="post">
                            <div class="row learts-mb-n50">
                                <div class="col-12 learts-mb-20">
                                    <label asp-for="@Model.RegisterVM.Username"></label>
                                    <input asp-for="@Model.RegisterVM.Username" class="form-control p_input">
                                    <span class="text-danger" asp-validation-for="@Model.RegisterVM.Username"></span>
                                </div>
                                <div class="col-12 learts-mb-20">
                                    <label asp-for="@Model.RegisterVM.Email"></label>
                                    <input asp-for="@Model.RegisterVM.Email" class="form-control p_input">
                                    <span class="text-danger" asp-validation-for="@Model.RegisterVM.Email"></span>
                                </div>
                                <div class="col-12 learts-mb-20">
                                    <label asp-for="@Model.RegisterVM.Password"></label>
                                    <input asp-for="@Model.RegisterVM.Password" class="form-control p_input">
                                    <span class="text-danger" asp-validation-for="@Model.RegisterVM.Password"></span>
                                </div>
                                <div class="col-12 learts-mb-20">
                                    <label asp-for="@Model.RegisterVM.ConfirmPassword"></label>
                                    <input asp-for="@Model.RegisterVM.ConfirmPassword" class="form-control p_input">
                                    <span class="text-danger" asp-validation-for="@Model.RegisterVM.ConfirmPassword"></span>
                                </div>
                                <div class="col-12 learts-mb-50">
                                    <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy</p>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-12 text-center learts-mb-50">
                                    <button type="submit" class="btn btn-dark btn-outline-hover-dark">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>