@using BankSystem.Web.Infrastructure.Collections;
@using BankSystem.Web.ViewModels;
@model PaginatedList<BlogVM>

@{
    int a = 0;
    int b = 0;
    int c = 0; 
    int d = 0;
    Layout = "_Layout1";
}


<!-- banner-section start -->
<section class="banner-section inner-pages blog blog-2">
    <div class="overlay">
        <div class="banner-content pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>Blogs</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Blog</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bottom-area pb-120">
        <div class="container">
            <div class="top-area">
                <div class="top-item">
                    <img class="blog2-bg-img" src="~/bank/assets/img/blog-banner-two.png" alt="image">
                </div>
               
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- Latest Articles In start -->
<section class="latest-articles blog-2">
    <div class="overlay pb-120">
        <div class="container">
            <div class="section-header">
                <div class="row justify-content-between">
                    <div class="col-xl-6">
                        <h2 class="title">Latest Articles</h2>
                    </div>
                    <div class="col-xl-6 d-flex justify-content-xl-end justify-content-start">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="all-tab" data-bs-toggle="tab"
                                        data-bs-target="#all" type="button" role="tab" aria-controls="all"
                                        aria-selected="true">
                                    all
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="resources-tab" data-bs-toggle="tab"
                                        data-bs-target="#resources" type="button" role="tab" aria-controls="resources"
                                        aria-selected="false">
                                    resources
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="finance-tab" data-bs-toggle="tab"
                                        data-bs-target="#finance" type="button" role="tab" aria-controls="finance"
                                        aria-selected="false">
                                    finance
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="crypto-tab" data-bs-toggle="tab"
                                        data-bs-target="#crypto" type="button" role="tab" aria-controls="crypto"
                                        aria-selected="false">
                                    crypto
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                            <div class="row cus-mar">
                                @foreach (var item in Model)
                                {
                                    a++;
                                    <div class="col-lg-6">
                                        <div class="single-area">
                                            <div class="top-item">
                                                <img style="height:350px;object-fit:cover" src="~/uploads/@item.Image" alt="image">
                                            </div>
                                            <div class="bottom-item">
                                                <a href="/Blogs/SinglePage/@item.Id"><h5>@item.Title</h5></a>
                                                <p>
                                                    @item.Description
                                                </p>
                                                <div class="date-area d-flex justify-content-between">
                                                    <a href="/Blogs/SinglePage/@item.Id">
                                                        Read More <img src="~/bank/assets/img/right-icon-5.png"
                                                                       alt="image">
                                                    </a>
                                                    <p class="mdr">@item.Created</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-8">
                                    <nav aria-label="Page navigation">
                                        @*<ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                                    <img src="~/bank/assets/img/icon-left.png" alt="icon">
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link active" href="javascript:void(0)"><h5>1</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>2</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>3</h5></a></li>
                                            <li class="page-dots">...</li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>7</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>8</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>9</h5></a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                                    <img src="~/bank/assets/img/icon-right.png" alt="icon">
                                                </a>
                                            </li>
                                        </ul>*@
                                        @if (a>0)
                                        {
                                            <partial name="_PaginationPartial1" model="@Model" />
                                        }
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="resources-tab">
                            <div class="row cus-mar">
                                @foreach (var item in Model)
                                {
                                  
                                    if (item.Filter == "resources")
                                    {
                                          b++;
                                        <div class="col-lg-6">
                                            <div class="single-area">
                                                <div class="top-item">
                                                    <img style="height:350px;object-fit:cover" src="~/uploads/@item.Image" alt="image">
                                                </div>
                                                <div class="bottom-item">
                                                    <a href="/Blogs/SinglePage/@item.Id"><h5>@item.Title</h5></a>
                                                    <p>
                                                        @item.Description
                                                    </p>
                                                    <div class="date-area d-flex justify-content-between">
                                                        <a href="/Blogs/SinglePage/@item.Id">
                                                            Read More <img src="~/bank/assets/img/right-icon-5.png"
                                                            alt="image">
                                                        </a>
                                                        <p class="mdr">July 21, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                               
                               
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <nav aria-label="Page navigation">
                                        @*<ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                                    <img src="~/bank/assets/img/icon-left.png" alt="icon">
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link active" href="javascript:void(0)"><h5>1</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>2</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>3</h5></a></li>
                                            <li class="page-dots">...</li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>7</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>8</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>9</h5></a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                                    <img src="~/bank/assets/img/icon-right.png" alt="icon">
                                                </a>
                                            </li>
                                        </ul>*@
                                        @if (b>0)
                                        {
                                            <partial name="_PaginationPartial1" model="@Model" />
                                        }

                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="finance" role="tabpanel" aria-labelledby="finance-tab">
                            <div class="row cus-mar">
                                @foreach (var item in Model)
                                {
                                   
                                    if (item.Filter == "finance")
                                    {
                                        c++;
                                        <div class="col-lg-6">
                                            <div class="single-area">
                                                <div class="top-item">
                                                    <img style="height:350px;object-fit:cover" src="~/uploads/@item.Image" alt="image">
                                                </div>
                                                <div class="bottom-item">
                                                    <a href="/Blogs/SinglePage/@item.Id"><h5>@item.Title</h5></a>
                                                    <p>
                                                        @item.Description
                                                    </p>
                                                    <div class="date-area d-flex justify-content-between">
                                                        <a href="/Blogs/SinglePage/@item.Id">
                                                            Read More <img src="~/bank/assets/img/right-icon-5.png"
                                                                           alt="image">
                                                        </a>
                                                        <p class="mdr">July 21, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                               
                               
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <nav aria-label="Page navigation">
                                       @* <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                                    <img src="~/bank/assets/img/icon-left.png" alt="icon">
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link active" href="javascript:void(0)"><h5>1</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>2</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>3</h5></a></li>
                                            <li class="page-dots">...</li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>7</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>8</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>9</h5></a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                                    <img src="~/bank/assets/img/icon-right.png" alt="icon">
                                                </a>
                                            </li>
                                        </ul>*@
                                        @if (c>0)
                                        {
                                            <partial name="_PaginationPartial1" model="@Model" />
                                        }
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="crypto" role="tabpanel" aria-labelledby="crypto-tab">
                            <div class="row cus-mar">
                                @foreach (var item in Model)
                                {
                                   
                                    if (item.Filter == "crypto") {
                                        d++;
                                        <div class="col-lg-6">
                                            <div class="single-area">
                                                <div class="top-item">
                                                    <img style="height:350px;object-fit:cover" src="~/uploads/@item.Image" alt="image">
                                                </div>
                                                <div class="bottom-item">
                                                    <a href="/Blogs/SinglePage/@item.Id"><h5>@item.Title</h5></a>
                                                    <p>
                                                        @item.Description
                                                    </p>
                                                    <div class="date-area d-flex justify-content-between">
                                                        <a href="/Blogs/SinglePage/@item.Id">
                                                            Read More <img src="~/bank/assets/img/right-icon-5.png"
                                                            alt="image">
                                                        </a>
                                                        <p class="mdr">July 21, 2021</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <nav aria-label="Page navigation">
                                        @*<ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                                    <img src="~/bank/assets/img/icon-left.png" alt="icon">
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link active" href="javascript:void(0)"><h5>1</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>2</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>3</h5></a></li>
                                            <li class="page-dots">...</li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>7</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>8</h5></a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)"><h5>9</h5></a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                                    <img src="~/bank/assets/img/icon-right.png" alt="icon">
                                                </a>
                                            </li>
                                           
                                        </ul>*@
                                        @if (d>0)
                                        {
                                            <partial name="_PaginationPartial1" model="@Model" />
                                        }
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Articles In end -->